.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #6e6e6e;
    border: 1px solid #6e6e6e;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    opacity: 1 \9; /*just in case ie*/
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.ContactData h3 {
    color: #40a4c8;
}

.ContactData a {
    color: #6e6e6e;
    text-decoration: none;
    margin: 0 5px;
}

@media (min-width: 600px) {
    .ContactData {
        width:500px;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

