.Intro {
    width: 80%;
    margin: auto;
    overflow: auto;
    font-weight: bold;
    font-size: 1.2rem;
    height: 100%;
}

    .Intro h1 {
        margin-bottom: 100px;
        -webkit-animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

        .Intro h1 span {
            color: #40a4c8;
        }

    .Intro h2 {
        -webkit-animation-delay: .8s;
        -moz-animation-delay: .8s;
        animation-delay: .8s;
    }

        .Intro h2 span {
            color: #e46a6b;
        }

.FadeIn {
    opacity: 0;
    opacity: 1 \9; /*just in case ie*/
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .Intro {
        width: 400px;
        margin-top: 100px;
    }
}


@media (min-width: 1000px) and (min-height: 700px) {
    .Intro {
        width: 700px;
        margin-top: 200px;
    }
}
