.Intro {
    width: 80%;
    margin: auto;
    overflow: auto;
    font-weight: bold;
    font-size: 1.2rem;
    height: 100%;
}

.Intro h1 {
    margin-bottom: 100px;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Intro {
        width: 400px;
        margin-top: 100px;
    }
}


@media (min-width: 1000px) and (min-height: 700px) {
    .Intro {
        width: 700px;
        margin-top: 200px;
    }
}
