.Post {
    width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid #6e6e6e;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

    .Post:hover,
    .Post:active {
        background-color: #6e6e6e;
    }


.Title {
    color: #40a4c8;
}

.Author {
    margin: 16px 0;
    color: #e46a6b;
}
