.FullPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #6e6e6e;
    box-shadow: 0 2px 3px #6e6e6e;
    text-align: center;
    padding: 10px 20px;
}

.Title {
    color: #40a4c8;
}

.AuthorAndDate {
    margin: 10px 0;
    color: #6e6e6e;
    font-size: 10pt;
}

.Photo {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.ParagraphDiv {
    margin: 10px;
    line-height: 20px;
    max-width:60vw;
}

.Container {
    display: flex;
    flex-wrap: wrap;
}