.SkillCategory {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 240px;
}

.Title {
    text-align: center;
    font-weight: bold;
    color: #40a4c8;
}

.SkillCategory ul {
    list-style-type: none;
}


@media (max-width: 500px) {
    .Title {
        text-align: left;
    }

    .SkillCategory ul {
        padding-left: 0;
    }
}
